<nav>
	<ul class="left">
	  <li class="logo fa fa-glass"><a href="/">CHWASTED</a></li>
	</ul>
	<ul class="right">
	  <li>
	  	<input id="nav-search" autocomplete="off" type="text" name="search_term" placeholder="LOCATION" value="">
	  </li>
	  <li><a class="fa fa-bars" id="toggle" href="#"></a></li>
	</ul>
</nav>
<div id="map-active">
	<script>
		var map;
		function initMap() {
		  // Create a map object and specify the DOM element for display.
		    var map = new google.maps.Map(document.getElementById('map-active'), {
		      center: {lat: 41.8896848, lng: -87.6399389},
		      scrollwheel: true,
		      zoom: 14
		    });
		  }
	</script>
</div>
<div class="drawer">
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
		<div class="slot">
			<div class="slot-image">
				<img src="">
			</div>
		</div>
		<div class="more-info">
			<p>MORE INFO HERE</p>
		</div>
</div>