<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/effects.js"></script>

  <title>GET CHWASTED</title>
</head>
<body>
  <%= yield %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIg-CX6WM3Nl79Q27GB91aEeFrw-gnrk4&callback=initMap"
    async defer></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places&ext=.js&key=AIzaSyAH5r7d9azvFjoz7MZtP-UkoqRUxJXBLe0"></script>-->
</body>
</html>
