<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places&ext=.js&key=AIzaSyAH5r7d9azvFjoz7MZtP-UkoqRUxJXBLe0"></script>


<script src="/js/map-data.js"></script>


<div id="left">
<% @bar_specials.each do |bar_dist,specials_array| %>
  <ul><span style="font-size: 2em"><%= bar_dist[0].name %></span>
    <%= (bar_dist[1] /1000).round(2) %> km
    <br><br>
    <% specials_array.each do |special| %>
      <li><%= special.deal %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div id="map_canvas" style="width:750px; height:450px; border: 2px solid #3872ac;"></div>

